@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  background-image: url('/static/cover.jpg');
  height: 100vh; /* Fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100);
}

body::after {
  @apply absolute inset-0 w-full h-full;

  content: "";
  background: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

h1 {
  padding-top: 30vh;
}

@screen md-down {
  body {
    background-image: url('/static/cover-mobile.jpg') !important;
  }

  h1 {
    padding-top: 20vh;
  }
}
