@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  @apply text-white;

  background-image: url('/static/images/cover.jpg');
  min-height: 100vh; /* Fallback for browsers that do not support Custom Properties */
  min-height: calc(var(--vh, 1vh) * 100);
  font-family: 'Bebas Neue', cursive;
}

body::after {
  @apply absolute inset-0 w-full h-full;

  content: "";
  background: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

h1 {
  padding-top: 30vh;
}

@screen md-down {
  body {
    background-image: url('/static/images/cover-mobile.jpg') !important;
  }

  h1 {
    padding-top: 20vh;
  }
}
