// Global

body {
    background: $dark;
    color: $white;
    background: linear-gradient(to bottom, transparent, #111 100vh), url("../img/background.jpg") no-repeat;
    background-size: cover;
    background-position: center;
}

h1 {
    padding-top: 25vh;
    font-size: 5rem;
    color: $accent-color;
    font-family: 'Cedarville Cursive', cursive;
    /* font-family: 'Alex Brush', cursive; */
    user-select: none;

    @media (max-width: 992px) {
        font-size: 3rem;
        padding-top: 35vh;
    }
}

.nav-link {
    text-transform: uppercase;
    color: $white;

    &:hover {
        color: $accent-color;
    }

    @media (max-width: 992px) {
        font-size: 0.8rem;
    }
}

.fab {
    margin: 10px 20px 0px 0px;
    color: $white;

    &:hover {
        color: $accent-color;
    }
}

.cover {
    height: 100vh;
}