@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .social-icon {
    @apply flex items-center text-sm transition duration-200 sm:text-lg;
  }

  .link {
    @apply transition hover:opacity-75;
  }
}

.slider {
  @apply flex items-center w-full overflow-hidden pointer-events-none md:w-72;

  max-width: 100vw;
}

.slider-items {
  @apply flex items-center space-x-4 pointer-events-none;

  animation: slideShow 10s linear infinite;
}

.slider-items > div {
  @apply text-4xl text-[#eee8b4] animate-pulse pointer-events-none;
}

@keyframes slideShow {
  from {
    transform: translateX(0);
  }
  to {
    /* The exact width of 1 set of slides */
    transform: translateX(-800px);
  }
}
