@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .social-icon {
    @apply flex items-center text-sm transition duration-200 sm:text-lg;
  }
}

.slider {
  @apply flex items-center w-5/6 overflow-hidden md:w-72;
}

.slider-items {
  @apply flex items-center space-x-4;

  animation: slideShow 10s linear infinite;
}

.slider-items > div {
  @apply text-4xl text-[#eee8b4] animate-pulse;
}

@keyframes slideShow {
  from {
    transform: translateX(0);
  }
  to {
    /* The exact width of 1 set of slides */
    transform: translateX(-701px);
  }
}
